---
import Layout from '../../components/Layout.astro';
---

<Layout title="zuruh :: home" breadcrumbs={['home']}>
  <article>
    <header>
      <h1>Mon article</h1>
    </header>
  </article>
</Layout>
