---
import { type GetStaticPaths } from 'astro';
import Layout from '../../components/Layout.astro';

export const getStaticPaths = (() => {
  return [
    {
      params: {
        lang: 'fr',
      },
    },
    {
      params: {
        lang: 'en',
      },
    },
  ];
}) satisfies GetStaticPaths;
---

<Layout title="test" breadcrumbs={['home']}>
  <h1>Hello, World!</h1>
</Layout>
